@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~antd/dist/antd.less";

@import "less/_variables.less";

@import "less/components/_two-col-nav.less";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
