.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7.5%;

    &__item {
        display: flex;
        justify-content: center;
        width: 100%;

        & .ant-form-item-label {
            width: 30vw;
            margin-left: -1.5rem;
        }

        &--tooltip {
            margin-left: 0.5rem;
        }

        &--number-input {
            width: 55vw;
        }

        &--select {
            width: 55vw !important;
        }

        & .ant-form-explain p {
            margin: 0;
        }
    }
}
