.two-col-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: calc(100vh - 3.25rem);

  &__left {
    flex-basis: 10%;

    & .ant-menu {
      height: 100%;
    }
  }

  &__right {
    flex-basis: 90%;
  }
}
